body {
  background-color: black;
  color: white;
  padding: 24px;
  font-family: Raleway, Verdana, sans-serif;
}

#list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
#list__ranking-you {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
#list__ranking-you__emojis {
  padding: 12px;
  border-radius: 12px;
  background-color: #2d2f39;
  color: #fdc000;
}

h1, h2, h3, h4, p {
  margin: 0
}